@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<style>
    body {
        background-color: @Configuration["WebApplication:Settings:BackgroundColor"]
    }
    h1 {
        color: @Configuration["WebApplication:Settings:FontColor"];
        font-size: @Configuration["WebApplication:Settings:FontSize"]px;
    }
</style>

<h1>@Configuration["WebApplication:Settings:Message"]
    and @Configuration["WebApplication:Settings:KeyVaultMessage"]</h1>